html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background-image: url("img/WebsitePic3.jpg");
	background-color: white;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 12pt;
	color: black;
}

/*******************************Defaults******************************************/
h1, h2, h3
{
	margin: 10px;
	color: black;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	margin: 25px;
	font-size: 12pt;
	color: black;
}

a
{
	color: blue;
}

a:hover
{
	text-decoration: underline;
}

.container
{
	margin: 0px auto;
	width: 100%;
}

/*******************************Header*******************************************/
#header
{
	text-align: center;
}

/********************************Logo********************************************/
#logo
{
	padding: 50px 0px 25px 0px;
	text-shadow: -3px 3px white;
}

#logo h1
{
	display: block;
	margin-bottom: 5px;
	padding: 5px 10px;
	font-size: 55pt;
}

#logo a
{
	text-decoration: none;
	color: black;
}

/***********************************Menu***************************************/
#menu
{
	height: 40px;
}

#menu ul
{
	display: inline-block;
	padding: 0px 30px;
	text-align: center;
}

#menu li
{
	display: inline-block;
}

#menu li a, #menu li span
{
	display: inline-block;
	padding: 0px 15px;
	text-decoration: none;
	font-size: 14pt;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 40px;
	outline: 0;
	background: rgb(0,0,0,0.5);
	border-radius: 15px 15px 0px 0px;
	color: black;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
	background: white;
	border-radius: 15px 15px 0px 0px;
	color: black;
}

#menu .current_page_item a
{
}

/*********************************Wrapper**************************************/
.wrapper
{
	overflow: hidden;
	padding: 0px 0px 60px 0px;
	background: white;
	height: 500px;
}

#wrapper1
{
	background: white;
}

#wrapper2
{
	overflow: hidden;
	background: white;
	padding: 60px 0px;
	text-align: center;
}

input[type=button], input[type=password], input[type=text], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 4px 8px;
  border: none;
  color: white;
  border-radius: 2px;
  background-color: #4CAF50;
}

th {
  background-color: #4CAF50;
  color: white;
}